.BackGround{
    background-color: darkgreen;
}

.heading{
    color: white;
    margin-bottom: 30px;
}

.imagetag{
    width: 200px;
    height: 200px;
    border-radius: 50%; 
}

.detailbox{
    border: 2px solid rgb(254, 251, 251);
    height: max-content;
    width:450px;
    margin: 5px 5px 5px 0;
    background-color: black;
    border-radius: 20px;
}


